<h2>Categories</h2>
<div style="margin: 10px 0">
    <ul>
        <li>
<!--            <fieldset>-->
                <a href="" [routerLink]="['/category', 1]">Monitors</a>
<!--            </fieldset>-->
        </li>
        <li>
<!--            <fieldset>-->
                <a href="" [routerLink]="['/category', 2]">Keyboards</a>
<!--            </fieldset>-->
        </li>
        <li>
<!--            <fieldset>-->
                <a href="" [routerLink]="['/category', 3]">Mouses</a>
<!--            </fieldset>-->
        </li>
        <li>
<!--            <fieldset>-->
                <a href="" [routerLink]="['/category', 4]">Mouse Pads</a>
<!--            </fieldset>-->
        </li>
    </ul>

</div>
